body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9900;
}

main {
    padding: 20px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
}

.home-button {
    display: block;
    width: 100px;
    margin: 20px auto;
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cart-icon {
    width: 32px; 
    vertical-align: middle; 
    margin-right: 5px; 
}

.container-product {
    display: flex;
    align-items: center;
}

.product-image{
    width: 50vh;
}

nav.navbar {
    display: flex;
    align-items: center;   
    justify-content: center; 
}

@media (max-width: 576px) {
    .navbar-nav {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-item a {
      font-size: 1.2rem;
    }
  }