body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cart_bar{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, .05);
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color:#888;
    padding: 0 20px; 
}

.cart_prod{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, .05);
    overflow: hidden;
    border-radius: 3px;
    height: 200px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color:#888;
    padding: 0 20px; 
}

.img{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.prod1{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.descr1{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.preço1{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}

.produtos{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.preçoUnitario{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.quantidade{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}
.preçoTotal{
    color:rgba(0, 0, 0, .8);
    width: 46.27%;
    display: block;
    text-align: center;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

#cart-items h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#cart-items p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.home-button {
    display: inline-block;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    width: 20px;
    height: 30px;
    font-size: 15px;
    background-color: orange;
    color: honeydew;
}

#finalizar{
    width: 300px;
    height: 50px;
    font-size: 20px;
    background-color: orange;
    color: honeydew;
}
